.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-color: #ffffff;
}

.timerCard {
  margin: 0 0 1em 0;
}

.jumbotron {
  padding-top: 0rem ;
  padding-bottom: 0rem ;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}
